.item {
    display: flex;
    padding-bottom: 3rem;
}



.icon {
    padding-top: 2rem;
}



.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0.5rem;
}

.text h3 {
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}

.text p {
    font-size: 0.7rem;
}

.text button {
    padding: 0.2rem 0.8rem;
    color: #fff;
    background-color: #424255;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}